/*
 * Globals
 */

/* Links */

.App {
  text-align: center;
}

.App-content {
  background-color: #E6E6E6;
  min-height: 92vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.element {
  margin: 15px;
  background-color: white;
  padding: 10px 0px;
  border-radius: 4%;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  min-height: 12vh;
  align-self: flex-start;
  text-align: center;
}

.container{
  align-self: flex-start;
}